extends layout

block content
  h1 Server Error
    p Sorry! There was an unexpected error on the server.

  //This is rendered when a user tries to navigate to a page for a user id that does not exist
