if(errors)
    h2.errors Oooops!
    ul.errors
        each error in errors
            li
                =error.message



    //This is rendered if a user forgets to add a title or an author while they are creating or editing a book.

