doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content




  //This is the main layout file that gives each rendered template a header

